{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- AGENDA -->
<script>
  const daysContainer = document.querySelector(".days"),
nextBtn = document.querySelector(".next-btn"),
prevBtn = document.querySelector(".prev-btn"),
month = document.querySelector(".month"),
todayBtn = document.querySelector(".today-btn");

const months = [
"January",
"February",
"March",
"April",
"May",
"June",
"July",
"August",
"September",
"October",
"November",
"December",
];

const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

// get current date
const date = new Date();

// get current month
let currentMonth = date.getMonth();

// get current year
let currentYear = date.getFullYear();

// function to render days
function renderCalendar() {
// get prev month current month and next month days
date.setDate(1);
const firstDay = new Date(currentYear, currentMonth, 1);
const lastDay = new Date(currentYear, currentMonth + 1, 0);
const lastDayIndex = lastDay.getDay();
const lastDayDate = lastDay.getDate();
const prevLastDay = new Date(currentYear, currentMonth, 0);
const prevLastDayDate = prevLastDay.getDate();
const nextDays = 7 - lastDayIndex - 1;

// update current year and month in header
month.innerHTML = `${months[currentMonth]} ${currentYear}`;

// update days html
let days = "";

// prev days html
for (let x = firstDay.getDay(); x > 0; x--) {
days += `<div class="day prev">${prevLastDayDate - x + 1}</div>`;
}

// current month days
for (let i = 1; i <= lastDayDate; i++) {
// check if its today then add today class
if (
i === new Date().getDate() &&
currentMonth === new Date().getMonth() &&
currentYear === new Date().getFullYear()
) {
// if date month year matches add today
days += `<div class="day today">${i}</div>`;
} else {
//else dont add today
days += `<div class="day ">${i}</div>`;
}
}

// next MOnth days
for (let j = 1; j <= nextDays; j++) {
days += `<div class="day next">${j}</div>`;
}

// run this function with every calendar render
hideTodayBtn();
daysContainer.innerHTML = days;
}

renderCalendar();

nextBtn.addEventListener("click", () => {
// increase current month by one
currentMonth++;
if (currentMonth > 11) {
// if month gets greater that 11 make it 0 and increase year by one
currentMonth = 0;
currentYear++;
}
// rerender calendar
renderCalendar();
});

// prev monyh btn
prevBtn.addEventListener("click", () => {
// increase by one
currentMonth--;
// check if let than 0 then make it 11 and deacrease year
if (currentMonth < 0) {
currentMonth = 11;
currentYear--;
}
renderCalendar();
});

// go to today
todayBtn.addEventListener("click", () => {
// set month and year to current
currentMonth = date.getMonth();
currentYear = date.getFullYear();
// rerender calendar
renderCalendar();
});

// lets hide today btn if its already current month and vice versa

function hideTodayBtn() {
if (
currentMonth === new Date().getMonth() &&
currentYear === new Date().getFullYear()
) {
todayBtn.style.display = "none";
} else {
todayBtn.style.display = "flex";
}
}
</script>


  <div class="container-fluid " style="margin-top: 100px; padding-left: 200px;">
    <div class="row">
      <div class="col-5">
        <div class="calendar">
          <div class="header">
            <div class="month"></div>
            <div class="btns">
              <div class="btn today-btn">
                <i class="fas fa-calendar-day"></i>
              </div>
              <div class="btn prev-btn">
                <i class="fas fa-chevron-left"></i>
              </div>
              <div class="btn next-btn">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
          <div class="weekdays">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
          </div>
          <div class="days">
            <!-- lets add days using js -->
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <select class="dropdown  seleccion">
            <option value="">SELECCIONA UN TRATAMIENTO</option>
            <option value="opcion1" style="text-align: left;">Evaluacion gratuita de kinesiología</option>
            <option value="opcion2" style="text-align: left;">Recovery Deportivo</option>
            <option value="opcion3" style="text-align: left;">Servicio de Masoterapia / Masaje</option>
            <option value="opcion4" style="text-align: left;">Programa Adulto mayor activo</option>
          </select>
        </div>
        <div class="row">
          <div class="container-fluid">
            <div class="row datos-seleccion_tratamiento" style="margin-top: 20px;border-top-left-radius:5px ;border-top-right-radius: 5px;">
              <div class="col-2"><i class="bi bi-card-list"></i></div>
              <div class="col-10" style="text-align: left;">Evaluacion Gratuita de kinesiología</div>
            </div>
            <div class="row datos-seleccion_tratamiento" style="border-radius: 0%;">
              <div class="col-2"><i class="bi bi-clock"></i></div>
              <div class="col-10" style="text-align: left;">1 Hora</div>
            </div>
            <div class="row datos-seleccion_tratamiento" style="margin-bottom: 10px;border-bottom-left-radius:5px ;border-bottom-right-radius: 5px;">
              <div class="col-2"><i class="bi bi-currency-dollar"></i></div>
              <div class="col-10" style="text-align: left;" >0</div>
            </div>
          </div>
        </div>
        <div class="row">
          <select class="dropdown  seleccion">
            <option value="">SELECCIONA UN PROFESIONAL</option>
            <option value="opcion1" style="text-align: left;">kinesiologo / Masoterapeuta</option>
          </select>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="container-fluid px-0">
              <div class="row" >
                <div class="col-4">
                  <button class="boton-horas" style="background-color: red;">
                    10:00
                  </button>
                </div>
                <div class="col-4">
                  <button class="boton-horas" onclick="toggleColor(this)">
                    10:30
                  </button>
                </div>
                <div class="col-4">
                  <button class="boton-horas" onclick="toggleColor(this)">
                    11:00
                  </button>
                </div>
              </div> 
              <div class="row">
                <div class="col-4">
                  <button class="boton-horas" onclick="toggleColor(this)">
                    12:00
                  </button>
                </div>
                <div class="col-4">
                  <button class="boton-horas" style="background-color: red;">
                    12:30
                  </button>
                </div>
                <div class="col-4">
                  <button class="boton-horas" onclick="toggleColor(this)">
                    13:00
                  </button>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="row">
          <input class="dropdown  seleccion" placeholder="INGRESA TU RUT" >
          </input>
        </div>
        <div class="row">
          <button class="seleccion" style="background-color: green;color: white;" onclick="reservarHora()" >
            RESERVAR HORA
          </button>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

{% endblock %}