{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<style>
    .contenedor-formulario{
        background-color: orange;
        padding: 15px;
        border-radius: 15px;
        width: 400px;
    }
    .titulo-contactanos-principal{
        margin-left: 180px;
        margin-top: 100px;
        font-weight: bold;
    }
    .titulo-contactanos-secundario{
        margin-left: 250px;
        margin-top: 80px;
        font-size: 25px;
        font-weight: bold;
    }
</style>
<h1 class="titulo-contactanos" style="margin-top: 130px;margin-bottom: 30px;">CONTACTANOS</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <h1 class="titulo-contactanos-principal">¿ Tienes algun comentario, sugerencia o reclamo ?</h1>
                <h1 class="titulo-contactanos-secundario">Por favor haz no lo saber </h1>
            </div>
        </div>
        <div class="col-6">
            <div class="container contenedor-formulario">
                <div class="row">
                    <!-- NOMBRE input -->
                    <div class="col-6">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="form4Example1" class="form-control" placeholder="Nombre" />
                        </div>
                    </div>
                    <!-- TELEFONO input -->
                    <div class="col-6">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="form4Example2" class="form-control" placeholder="Telefono"/>
                        </div>
                    </div>
                </div>                                                      
                <!-- CORREO input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form4Example3" class="form-control" placeholder="Correo"/>
                </div>
                
                <!-- MENSAJE input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" style="resize: none;" rows="10" id="form4Example4" placeholder="Mensaje"></textarea>
                </div>
                
                <!-- BOTON ENVIAR -->
                <button data-mdb-ripple-init  style="padding-right: 15px; width: 100px;" type="button" class="btn btn-primary btn-block mb-4">ENVIAR</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}